.profile__avatar-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8) url(../../../images/pen.svg) no-repeat center;
  position: absolute;
  opacity: 0;
  transition: opacity .3s;
}

.profile__avatar:hover .profile__avatar-overlay {
  opacity: 1;
}
